* {
  box-sizing: border-box;
}

main,
header,
nav {
  border: 1px solid black;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr / 1fr 4fr;
  background-color: lightblue;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

nav ul {
  list-style: none;
  display: grid;
  margin-top: 4rem;
  padding-left: 1.5rem;
}

nav ul li {
  display: grid;
  grid-template-columns: .25fr .5fr;
  margin: 1rem;
}

nav a {
  margin: auto 0;
}

.home-logo {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh;
  text-align: center;
  justify-self: center;
  margin: 1rem 2rem 0 1rem;
}
.home-logo h1,
.home-logo img {
  margin: auto;
}

header,
main {
  grid-column: 2/3;
}

/* header styles */
header {
  grid-row: 1/2;
}



/* main section styles */
main{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.project-list {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr 1fr);
}

.project {
  border: 3px solid white;
  border-left: 5px solid orange;
  margin: 1rem;
  background-color: white;
}

.fav-follow-fork {
  text-align: right;
}

.news-alert,
.trending-people {
  background-color: white;
}

/* icon sizing */
.fav-follow-fork img,
nav img {
  width: 2.5rem;
  height: 2.5rem;
}

/* change project list to a single column */
@media all and (max-width: 1048px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}